<div class="number">
    <span class="number-character">(</span>
    <input type="text" maxlength="3" class="part1" data-bind="textInput: part1, validationElement: number">
    <span class="number-character">)</span>
    <input type="text" maxlength="3" class="part2" data-bind="textInput: part2, validationElement: number">
    <span class="number-character">-</span>
    <input type="text" maxlength="4" class="part3" data-bind="textInput: part3, validationElement: number">
</div>